{% extends 'app/base.html' %}

{% load static %}

{% block js %}
{% endblock %}

{% block css %}
{% endblock %}

{% block contenido %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% if messages %}
            {% for m in messages %}
            <div class="alert alert-success" role="alert">
                {{m}}
            </div>
            {% endfor %}
            {% endif %}
            <div class="card">
                <div class="card-body">
                    <h2>Editar Plato</h2>
                    <hr>
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form | crispy}}
                        <br>
                        <div class="form-group">
                            <input type="submit" value="Guardar" class="btn btn-dark btn-round btn-block">
                            <input type="reset" value="Cancelar" class="btn btn-dark btn-round btn-block">
                                    
                        </div>
                    </form>

                </div>


            </div>
            <div class="table-responsive py-2">
                <h2>Lista de Platos</h2>

                <table class="table table-striped">
                    <tr class="table-active">
                        <th>Nombre Plato</th>
                        <th>Valor Plato</th>
                        <th>Descripción</th>
                        <th>Opciones</th>

                    </tr>

                    {% for p in plato %}
                    <tr class="table-light">
                        <td> {{ p.nom_plato }} </td>
                        <td> $ {{ p.valor_plato }} </td>
                        <td> {{ p.descripcion }} </td>
                        <td>
                            <a href="{% url 'modificar_plato' p.id_plato %}"
                                class="btn btn-dark btn-sm">Modificar</a>
                            
                        </td>
                    </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
</div>

{% endblock %}