{% extends 'app/base.html' %}

{% block contenido %}

    {% load crispy_forms_tags %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-2">
                <div class="container-fluid px-4">
                    <br>
                    <div class = "col-xl-11">
                        <div class="table-responsive py-2">
                            <div class="card-header">
                                <i class="fas fa-table me-2"></i>
                                Lista de Funcionarios
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <tr class="table-active">
                                        <th>Nombre</th>
                                        <th>Usuario</th>
                                        <th>Perfil</th>
                                        <th>Opciones</th>
                                    </tr>
    
                                    {% for p in user %}
                                    <tr class="table-light">
                                        <td> {{ p.first_name }} </td>
                                        <td> {{ p.last_name }} </td>
                                        <td> {{ p.username }} </td>
                                        
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}